<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yang's blog</title>
</head>
<body>
<div>
    <h1><a href="">Yang's blog</a></h1>
</div>

<div>
    <p>published: 2016.08.13, 23:59</p>
    <h2><a href="">My first post</a></h2>
    <p>IS conflict: Manbij residents celebrate liberation.Residents in the northern Syrian city of Manbij have been celebrating new freedoms after being liberated from the rule of so-called Islamic State.</p>
</div>

<div>
    <p>published: 2016.08.13, 12:12</p>
    <h2><a href="">My second post</a></h2>
    <p>They have poured into the streets enjoying basic rights they had been denied for two years, including shaving off their beards and smoking.</p>
</div>

</body>
</html>